## 알고리즘 문제

- 링크: https://docs.google.com/spreadsheets/d/1ySoV3S56bGNMHDdYs9txB8Njk-I5wkGmX7rRkMAOnjA/edit#gid=546184874

<hr>

### 문자열 다루기 기본

문제 설명: <br>
문자열 s의 길이가 4 혹은 6이고, 숫자로만 구성돼있는지 확인해주는 함수, solution을 완성하세요. 예를 들어 s가 "a234"이면 False를 리턴하고 "1234"라면 True를 리턴하면 됩니다.

제한 사항: <br>
- s는 길이 1 이상, 길이 8 이하인 문자열입니다.

In [4]:
def solution(s):
    return s.isdigit() and (len(s)== 4 or len(s)==6)

solution("12346666")

False

### 정수 내림차순으로 배치하기

문제 설명: </br>
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

제한 조건: <br>
- n은 1이상 8000000000 이하인 자연수입니다.

In [7]:
def solution(n):
    li = [i for i in str(n)]
    li.sort(reverse = True)
    return int(''.join(li))

In [8]:
solution(118372)

873211

### 자연수 뒤집어 배열로 만들기

문제 설명: <br>
자연수 n을 뒤집어 각 자리 숫자를 원소로 가지는 배열 형태로 리턴해주세요. 예를들어 n이 12345이면 [5,4,3,2,1]을 리턴합니다.

제한 조건: <br>
- n은 10,000,000,000이하인 자연수입니다.

In [13]:
def solution(n):    
    
    return [int(i) for i in str(n)[::-1]]

solution(1234)

[4, 3, 2, 1]

### 핸드폰 번호 가리기

문제 설명: <br>
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

제한 조건: <br>
- phone_number는 길이 4 이상, 20이하인 문자열입니다.

In [14]:
def solution(phone_number):
    string = list(phone_number)

    string = ['*' for i in string[:len(string)-4]]+string[-4:]
    answer = ''.join(string)
    return answer

### K번째수

문제 설명: <br>
배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항: <br>
- array의 길이는 1 이상 100 이하입니다.
- array의 각 원소는 1 이상 100 이하입니다.
- commands의 길이는 1 이상 50 이하입니다.
- commands의 각 원소는 길이가 3입니다.

array	
[1, 5, 2, 6, 3, 7, 4]	
commands	
[[2, 5, 3], [4, 4, 1], [1, 7, 3]]	
return
[5, 6, 3]

In [94]:
### 첫번째 풀이

import numpy as np

def solution(array, commands):
    answer = []
    for command in commands:
        a, b, c = command
        if a==b:
            li = array[a-1:b]
        elif a!=b :
            li = array[a-1:b]
        li.sort()
        answer.append(li[c-1])
    
    return answer

In [100]:
array = np.array([1, 5, 2, 6, 3, 7, 4])
commands = np.array([[2, 5, 3], [4, 4, 1], [1, 7, 3]])

solution(array, commands)

# 프로그래머스 입력창과 결과가 다르게 나옴 (프로그래머스에서는 [5,6,3]으로 출력 > 정답)

[5, 6, 3]

In [101]:
### 두번째 풀이

import numpy as np

def solution(array, commands):
    answer = []
    for c in commands:
        li = sorted(array[c[0]-1: c[1]])
        answer.append(li[c[2]-1])
    
    return answer

In [103]:
array = np.array([1, 5, 2, 6, 3, 7, 4])
commands = np.array([[2, 5, 3], [4, 4, 1], [1, 7, 3]])

solution(array, commands)

[5, 6, 3]

### 하샤드의 수

문제 설명: <br>
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

제한 조건: <br>
- x는 1 이상, 10000 이하인 정수입니다.

In [163]:
### 첫번째 풀이

def solution(x):
    
    a = 0
    for i in str(x):
        a += int(i)
               
    return x%a == 0

In [172]:
# 두번째 풀이

def solution(a):
    return a % sum(map(lambda x: int(x), str(a))) == 0

### 나누어 떨어지는 숫자 배열

문제 설명: <br>
array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.
divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

제한사항: <br>
- arr은 자연수를 담은 배열입니다.
- 정수 i, j에 대해 i ≠ j 이면 arr[i] ≠ arr[j] 입니다.
- divisor는 자연수입니다.
- array는 길이 1 이상인 배열입니다.

[5, 9, 7, 10]	5

In [183]:
def solution(arr, divisor):
    li = [a for a in arr if (a%divisor) ==0]
    if li == []:
        return [-1]

    else : 
        return sorted(li)

In [184]:
arr = [5,9,7,10]
divisor = 5

In [185]:
solution(arr, divisor)

[5, 10]

### 모의고사

문제 설명: <br>
수포자는 수학을 포기한 사람의 준말입니다. 수포자 삼인방은 모의고사에 수학 문제를 전부 찍으려 합니다. 수포자는 1번 문제부터 마지막 문제까지 다음과 같이 찍습니다.

1번 수포자가 찍는 방식: 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, ...
2번 수포자가 찍는 방식: 2, 1, 2, 3, 2, 4, 2, 5, 2, 1, 2, 3, 2, 4, 2, 5, ...
3번 수포자가 찍는 방식: 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, 3, 3, 1, 1, 2, 2, 4, 4, 5, 5, ...

1번 문제부터 마지막 문제까지의 정답이 순서대로 들은 배열 answers가 주어졌을 때, 가장 많은 문제를 맞힌 사람이 누구인지 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한 조건: <br>
- 시험은 최대 10,000 문제로 구성되어있습니다.
- 문제의 정답은 1, 2, 3, 4, 5중 하나입니다.
- 가장 높은 점수를 받은 사람이 여럿일 경우, return하는 값을 오름차순 정렬해주세요.

In [62]:
def solution(answers):
    students =[[1, 2, 3, 4, 5], [2, 1, 2, 3, 2, 4, 2, 5], [3, 3, 1, 1, 2, 2, 4, 4, 5, 5]]
    answer_list = []
    
    for s in students:
        if len(answers) > len(s):
            num = len(answers)//len(s)
            add = len(answers) - len(s*num)
            new_s = (s*num) + s[:add]
            li = [new_s[i]==answers[i] for i in range(len(answers))]
            
        else :
            li = [s[i]==answers[i] for i in range(len(answers))]
        
        answer_list.append(sum(li))
    score = [i for i in enumerate(answer_list)]
    win = [i[0]+1 for i in score if i[1] == max(answer_list)]
        
    return win

In [64]:
solution([2, 1, 2, 3, 2, 4, 2, 5])

[False, False, False, False, False, False, True, False]
[True, True, True, True, True, True, True, True]
[False, False, False, False, True, False, False, False]
[1, 8, 1]
[(0, 1), (1, 8), (2, 1)]
(2, 1)
[2]

### 완주하지 못한 선수
<br>
문제 설명: <br>
수많은 마라톤 선수들이 마라톤에 참여하였습니다. 단 한 명의 선수를 제외하고는 모든 선수가 마라톤을 완주하였습니다.

마라톤에 참여한 선수들의 이름이 담긴 배열 participant와 완주한 선수들의 이름이 담긴 배열 completion이 주어질 때, 완주하지 못한 선수의 이름을 return 하도록 solution 함수를 작성해주세요.

제한사항:
- 마라톤 경기에 참여한 선수의 수는 1명 이상 100,000명 이하입니다.
- completion의 길이는 participant의 길이보다 1 작습니다.
- 참가자의 이름은 1개 이상 20개 이하의 알파벳 소문자로 이루어져 있습니다.
- 참가자 중에는 동명이인이 있을 수 있습니다.

In [73]:
a = ["mislav", "stanko", "mislav", "ana"]
a.remove('mislav')
a

['stanko', 'mislav', 'ana']

In [74]:
a.remove('mislav')
a

['stanko', 'ana']

In [158]:
def solution(participant, completion):
    for c in completion:
        participant.remove(c)
    return participant

In [202]:
a = ["marina", "josipa", "nikola", "vinko", "filipa"]
target = ["josipa", "filipa", "marina", 'nikola']
c = set(a) - set(target)

In [206]:
set(a) - set(target)

{'vinko'}

In [181]:
def solution(participant, completion):

'nikola'

In [194]:
c= set(a - b)
c

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [190]:
c = [i for i in a if a.count(i)>1]
c

['marina', 'marina']